* {
  margin: 0;
  padding: 0;
}

body {
  min-width:357px;
  overflow-x:hidden;
	font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif;
	color: black;
	padding: 5px 20px 20px 20px;
	background: url('assets/background-v2.png') repeat-x top left white;
}

.header {
  width: 100%;
  position: relative;
}

.header img {
  position: relative;
  left: -4px;
  height: 60px;
}

.header .refresh{
  right: 0px;  
  position: absolute;
  bottom: 5px;
  color: #999;
  text-decoration: none;
}

.header .refresh:hover {
  color: #666;
}

.tools h1 {
	color: #999;
	display: block;
	float: left;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	width: 40%;
}

.tools select {
	width: 55%;
	display: block;
	float: right;
}

.tools {
	position: relative;
	clear: right;
	margin-bottom: 8px;
	margin-top: 7px;
	overflow: auto;
}

.button {
	float: right;
	height: 24px;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	text-shadow: 1px 1px 0 white;
	white-space: nowrap;
	border: none;
	overflow: visible;
	background: #DDD;
	background: -webkit-gradient(linear,0% 0,0% 100%,from(white),to(#E1E1E1));
	border-bottom: 1px solid #EBEBEB;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	cursor: pointer;
	-webkit-font-smoothing: subpixel-antialiased!important;
	text-decoration: none;
	-webkit-box-align: center;
	margin-bottom: 15px;
}

.button:hover {
	color: white;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	border-bottom-color: #0770A0;
	background: #0770A0;
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#0CA6DD),to(#0770A0));
	text-decoration: none;
}

.button span {
	display: block;
	height: 24px;
	padding: 0 13px;
	line-height: 24px;
}

.comment-wrapper {
  -webkit-border-radius: 4px 4px 4px 4px;
  background: none repeat scroll 0 0 #EEEEEE;
  margin-bottom: 15px;
  padding: 3px;
}

.comment-wrapper .infobar {
  margin: 10px 0 10px -10px;
  width: 100%;
  padding: 10px 10px 8px 10px;
  color: #666;
  border: 1px solid #E5E5E5;
  border-left: none;
  border-right: none;
  background: whiteSmoke;
}

.comment-inner {
  -webkit-border-radius: 2px 2px 2px 2px;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  padding: 10px;
}

.comment-inner label {
	color: #333333;
  font-size: 14px;
  font-weight: bold;
	position: relative;
}

input[type="text"].title {	
	font-size: 16px;
	font-weight: bold;
	width: 98%;
	color: #444;
	margin-right: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

input[type="checkbox"] {
	margin-top: 5px;
	margin-right: 10px;
}

.disabled {
	color: #B3B3B3;
}

form textarea {
	font-size: 12px;
	width: 98%;
	height: 150px;
	padding: 5px;
	margin-bottom: 5px;
}

.status {
  padding-left: 20px;
  font-style: normal;
}

.error {
  color: red;
}

.spinner {
  background: url('assets/ajax-loader.gif') top left no-repeat;
}


